.card{
    background-color: rgb(213, 174, 18);
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-transform: uppercase;
    color:rgb(20, 20, 20);
    font-weight: bold;
    cursor: pointer;
    text-align: center;
    transition:all ease-in 0.3s;
}

.card:hover{
    transform:translateY(-10%);
}

img{
    background-color: rgba(0,0,0,0.2);
}